@charset "utf-8";
/*! base styles */

*{font-family:arial,helvetica,sans-serif;}
body{margin:0px;text-align:center;padding:0px;background: #fff;}
a,a:hover,a:visited,a:visited:hover{text-decoration:none;outline:none;}
div,form,img,ul,ol,li,dl,dt,dd,hr,h1,h2,h3,h4 {margin: 0; padding: 0; border: 0;outline:none; }
li{list-style-type:none;}
.clear{clear:both;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.btn2{float: left;height: 26px;margin-top: 3px; cursor: pointer;}
.btn2_l{float: left;width: 2px;background: url("../images/dot_index.gif") 0px -254px no-repeat;height: 26px;}
.btn2_r{float: left;width: 2px;background: url("../images/dot_index.gif") -3px -254px no-repeat;height: 26px;}
.btn2_c{float: left;background: url("../images/dot_index.gif") 0px -280px ;height: 26px;padding-left: 10px;padding-right: 10px;line-height: 26px;}


.black {
	font-size: 12px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.black3 {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.black4 {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	}
.red {
	font-size: 12px;
	color: #FD0100;
	text-decoration: none;
}
.black2 {
	font-size: 12px;
	color: #000;
	line-height:15px;
	text-decoration: none;
	font-weight: normal;
}
.blue {
	font-size: 14px;
	color: #00CBFD;
	text-decoration: none;
	font-weight: bold;
}
.blue1 {
    font-family:"宋体";
	font-size: 12px;
	text-decoration: none;
	color: #1B8FC5;
}
.blue2 {
	font-size: 20px;
	color: #1B8FC5;
	text-decoration: none;
	font-weight: bold;
}
.blue3 {
	font-size: 18px;
	color: #1B8FC5;
	text-decoration: none;
	font-weight: bold;
}
.input1 {
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
	text-decoration: none;
	height: 20px;
	width: 120px;
	border: 1px solid #FFF;
	background-color:transparent;
}
.input2 {
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
	text-decoration: none;
	height: 20px;
	width: 120px;
	border: 2px solid #0CF3FB;
	background-color:transparent;
}
.input3 {
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
	text-decoration: none;
	height: 20px;
	width: 60px;
	border: 1px solid #FFF;
	background-color:transparent;
}
.input4 {
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
	text-decoration: none;
	height: 20px;
	width: 60px;
	border: 2px solid #0CF3FB;
	background-color:transparent;
}
.black a {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
.black a:hover {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
.logo{ background:url(logo1.gif);background-repeat:no-repeat; background-position:top left; }
.main_bg{ background:url(main_bg2.gif); background-position:center; background-repeat:no-repeat;}
.main_bg2{ background:url(main_bg3.gif); background-position:center; background-repeat:no-repeat;}
.list_bg{ background:url(list_bg.gif); }
.list_bg2{ background:url(list_bg2.gif); }
.flag1{ 
	background:url(buttom31.gif);
	 background-position:center;
	  background-repeat:no-repeat;
	  font-size: 12px;
	  color: #fbff00;
	  }
.flag2{ 
	background:url(buttom41.gif);
	 background-position:center;
	  background-repeat:no-repeat;
	  font-size: 12px;
	  color: #d0c9c5;
	  
	  align:center;
	  }
.white {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
.white3 {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.white2 {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.test_input {
	font-size: 12px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	height: 280px;
	width: 620px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
	overflow-x:hidden;
}
.test_input2 {
	font-size: 12px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	height: 20px;
	width: 210px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}
.test_input7 {
	font-size: 12px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	height: 20px;
	width: 100px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}
.test_input3 {
	font-size: 12px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	width:30px;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}
.test_input4 {
	font-size: 12px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	width:80px;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}
.test_input5 {
	font-size: 12px;
	line-height: 16px;
	color: #000;
	text-decoration: none;
	width:220px;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}
.test_input6 {
	font-size: 12px;
	line-height: 14px;
	color: #000;
	text-decoration: none;
	width:30px;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}
.test_input8 {
	font-size: 12px;
	line-height: 14px;
	color: #000;
	text-decoration: none;
	width:100px;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}
.test_input9 {
	font-size: 12px;
	line-height: 14px;
	color: #000;
	text-decoration: none;
	width:160px;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}

.test_input10 {
	font-size: 12px;
	line-height: 14px;
	color: #000;
	text-decoration: none;
	width:50px;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFCFCF;
	border-right-color: #EFEFEF;
	border-bottom-color: #ffffff;
	border-left-color: #EFEFEF;
}

.divlang {
text-align:left; position:relative; background:transparent; height:22px; margin:0 auto;
}
.divlang ul {
padding:0; margin:0; list-style-type: none;
}
.divlang ul li {
float:left; position:relative;margin-bottom: 0px;
}

.divlang ul li a, .divlang ul li a:visited {
display:block; text-decoration:none; width:122px; height:22px; padding-left:43px; margin-right:1px; line-height:22px;
}
* html .divlang ul li a, .divlang ul li a:visited {
width:100px; w\idth:70px;
}

.divlang ul li ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}
.divlang table {
/*margin:-1px;*/
border-collapse:collapse;
}

/* fist line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */
.divlang ul li:hover a,
.divlang ul li a:hover {
color:#000; text-decoration:none; border:0;
}
.divlang ul li:hover ul,
.divlang ul li a:hover ul {
visibility:visible; width:118px; padding-left:1px; padding-top:1px; height:auto; position:absolute; top:22px; left:45px; background:#fff; border:1px solid #ccc; overflow:visible;
}
.divlang ul li:hover ul li a,
.divlang ul li a:hover ul li a {
display:block; background:#eee; padding-left:0px; margin-bottom:1px; text-decoration:none; height:22px; line-height:22px; width:161px; width:118px;
}
.divlang ul li:hover ul li a.droplang,
.divlang ul li a:hover ul li a.droplang {
display:block; height:23px; width:118px; width:75px;
}
.divlang ul li:hover ul li ul,
.divlang ul li a:hover ul li a ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}
.divlang ul li:hover ul li a:hover,
.divlang ul li a:hover ul li a:hover {
background:#E0EAF4; color:#000; text-decoration:none;
}
.divlang ul li:hover ul li:hover ul,
.divlang ul li a:hover ul li a:hover ul {
visibility:visible; position:absolute; top:0; left:166px; height:auto; border:1px solid #ccc;
}
.divlang ul li:hover ul li:hover ul.left,
.divlang ul li a:hover ul li a:hover ul.left {
left:-166px;
}
.divlang ul li:hover ul li:hover ul li a,
.divlang ul li a:hover ul li a:hover ul li a {
display:block; height:23px; line-height:23px; width:118px; width:75px;
}
.divlang ul li:hover ul li:hover ul li:hover a,
.divlang ul li a:hover ul li a:hover ul li a:hover {
color:#000; text-decoration:none;
}