.con{width:1003px;height:532px;margin:0 auto; background:url('../images/bg_index.jpg') no-repeat;position: relative;}
.ioslog{position:absolute; top:355px;left:155px; width: 170px;height: 64px;background: url("../images/dot_index.gif") 0px 0px no-repeat;cursor: pointer;}
.androidlog{position:absolute;top:435px;left:155px;width: 170px;height: 64px;background: url("../images/dot_index.gif") 0px -65px no-repeat ;cursor: pointer;}
.loginform{position:absolute;top:87px;left:347px;height:425px; width:222px;}
.loginform .title{float:left; display: inline;height: 28px;width: 212px;padding-left: 10px;text-align: left;line-height: 28px;font-weight: bold;}
.loginform .logincon{float:left;display: inline;height: 195px;width: 212px;padding-left: 5px;text-align: left;line-height: 28px;font-weight: bold;}
.loginform .logincon table{margin-top: 10px;font-weight: normal;}
.loginform .logincon .loginbtn{background: url("../images/dot_index.gif") 0px -128px  no-repeat;height: 27px;width: 77px;border: 0px;color:#fff;font-weight: bold;}
.loginform .example{float:left;display: inline;height: 190px;width: 190px; margin-left: 15px;text-align: left;line-height: 28px;font-weight: bold;background: url("../images/menu_exa.jpg") no-repeat;}
.lang_select{position:absolute;top:38px;left:119px;width: 120px;z-index: 10;}
.lang_text{height: 30px;line-height: 30px;color: #fff;font-weight: bold;width: 160px;cursor: pointer;}
.lang_popsel{display: none;background: #fff;width: 236px;height: 44px;position: relative;left: -20px;}
.lang_tp{width: 118px;height: 22px;cursor: pointer;}
.exampleTitle{margin-top: 160px;height: 30px;line-height: 30px;text-align: center;color: #fff;font-weight: bold;cursor: pointer;}
.input{width: 120px;height: 20px;border: 1px solid #096FAA;line-height: 20px;}
.zl{position:absolute;top:370px;left:590px;height:150px; width:328px;}
.zl_title{height: 30px;line-height: 30px;font-weight: bold;text-align: left;text-indent: 10px;}
.zl_title .zlTitle{float: left;}
.zl_title .zlTab{float: right;padding-right: 5px;}
.zl_title .zlTab .tab{float: left;color:#1781c5;font-weight: bold;}
.zl_title .zlTab .tab .tabl{float: left;width: 3px;height: 27px;background: url('../images/dot_index.gif') 0px -156px no-repeat;}
.zl_title .zlTab .tab .tabc{float: left;height: 27px;background: url('../images/dot_index.gif') 0px -183px no-repeat;padding-left: 5px;padding-right: 10px;text-align: center;}
.zl_title .zlTab .tab .tabr{float: left;width: 3px;height: 27px;background: url('../images/dot_index.gif') -4px -156px no-repeat;}
.zl_title .zlTab .tab .tabl_off{float: left;width: 3px;height: 27px;}
.zl_title .zlTab .tab .tabc_off{float: left;height: 27px;padding-left: 5px;padding-right: 10px;text-align: center;}
.zl_title .zlTab .tab .tabr_off{float: left;width: 3px;height: 27px;}
.zl_body{height: 120px;}
.zl_body table{text-align: left;width: 328px;}
.td1{padding-left: 10px;}
.td2{padding-left: 10px;background: #ccc;}
.tdcontent1{text-align: center;color:#1781c5;font-weight: bold;}
.tdcontent2{text-align: center;background: #ccc;color:#1781c5;font-weight: bold;}
.footer{margin: 0 auto;text-align: left;color: #000;height: 30px;line-height: 30px;color: #444;width: 1003px;}


/************************一下弹出层修正部分*************************/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(../images/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_load{
	position: absolute;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}