body{min-width: 1003px;width: expression_r( document.body.clientWidth < 1004 ? "1003px" : "auto" );}
.reg_con{width:1003px;margin:0 auto;}
.reg_topt{background: #f3f3f3;margin: 20px auto;border: 1px solid #d8d8d8;}
.reg_topt .td1{line-height: 40px;font-size: 12px;color:#3292c5;text-indent: 20px;font-weight: bold;}
.reg_topt .td2{line-height: 40px;font-size: 12px;color:#3292c5;font-weight: bold;cursor: pointer;text-decoration: underline;}
.reg_in{width: 811px;background: #eaeaea;border: 1px solid #d8d8d8;margin: 20px auto 0px auto;padding-bottom:20px; height: 500px;}
.reg_inbox{width: 711px;background: #fff;height: 500px;margin: 10px auto;}
.reg_stepdiv{border-bottom: 1px dashed #666;width: 510px;margin: 0 auto 0px auto; height: 28px;padding-top: 20px;}
.reg_step{line-height:20px;margin: 0px auto 0 auto;}
.reg_stepspan1{background: url('../images/icon/step_span.png') no-repeat;color: #fff;}
.reg_stepspan1t{padding:0 10px;font-weight: bold;color: #555;}
.reg_stepspan2{background: url('../images/icon/step_span2.png') no-repeat;color: #fff;}
.reg_stepspan2t{padding:0 10px;font-weight: bold;color: #ccc;}
.reg_jiantou{background: url('../images/icon/ico_jiantou.jpg') no-repeat;}
.reg_input{width: 210px;height: 21px;line-height: 21px;border: 1px solid #ccc;}
.reg_errinput{width: 120px;height: 21px;line-height: 21px;border: 1px solid red;}
.reg_lefttd1{background:url('../images/icon/bg_05.gif') left 50% no-repeat;padding-right:20px;}
.footer{margin: 0 auto;text-align: center;color: #000;height: 30px;line-height: 30px;color: #444;width: 1003px;}
.outhead{background: url("../images/bg.jpg") repeat-x ;width: expression_r( document.body.clientWidth < 1004 ? "1003px" : "auto" );height: 77px;}
.inhead{background:  url("../images/bg_top.jpg") no-repeat;width: expression_r( document.body.clientWidth < 1004 ? "1003px" : "auto" );height: 100%;}
.lang_select{position:absolute;top:24px;left:100px;width: 120px;z-index: 10;}
.lang_text{height: 30px;line-height: 30px;color: #fff;font-weight: bold;width: 160px;cursor: pointer;}
.lang_popsel{display: none;background: #fff;width: 236px;height: 44px;position: relative;left: -20px;}
.lang_tp{width: 118px;height: 22px;cursor: pointer;}