<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Solar Cloud Application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext-*.xml,classpath*:applicationContext-*.xml
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>MfileUpload</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.MfileUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditStationBg</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.EditStationBg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StationInfo</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.StationInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataDownload</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.DataDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>invDownload</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.invDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pmuDownload</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.pmuDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlantInvDownload</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.PlantInvDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataDownloadComplex</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.DataDownloadComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartData</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.ChartData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartDataComplex</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.ChartDataComplex</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChartDataSelected</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.ChartDataSelected</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChartDataDefault</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.ChartDataDefault</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerCode</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.VerCode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EventFindDown</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.EventFindDown</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>StationAmountInfo</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.StationAmountInfo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MfileUpload</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditStationBg</servlet-name>
		<url-pattern>/modifyStationBg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StationInfo</servlet-name>
		<url-pattern>/getStationInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StationAmountInfo</servlet-name>
		<url-pattern>/stationAmountInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataDownload</servlet-name>
		<url-pattern>/dataDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>invDownload</servlet-name>
		<url-pattern>/invDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pmuDownload</servlet-name>
		<url-pattern>/pmuDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlantInvDownload</servlet-name>
		<url-pattern>/plantInvDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataDownloadComplex</servlet-name>
		<url-pattern>/dataDownloadComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartData</servlet-name>
		<url-pattern>/chartData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDataComplex</servlet-name>
		<url-pattern>/chartDataComplex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDataSelected</servlet-name>
		<url-pattern>/chartDataSelected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDataDefault</servlet-name>
		<url-pattern>/chartDataDefault</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerCode</servlet-name>
		<url-pattern>/verCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EventFindDown</servlet-name>
		<url-pattern>/EventFindDown</url-pattern>
	</servlet-mapping>
	
	<!--Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 添加jsessionid过滤器  -->
	<filter>
		<filter-name>jsessionid</filter-name>
		<filter-class>com.jstrd.asdc.filter.DisableUrlSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>jsessionid</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>action2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>action2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>action2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Quartz用，清内存 -->
	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jstrd.asdc.thread.StartThread</listener-class>
	</listener>
	<!-- 配置监听器，监听Web容器 -->
	<listener>
		<listener-class>com.jstrd.asdc.listener.SolarcloudContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jstrd.asdc.listener.SolarcloudSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jstrd.asdc.listener.SolarcloudRequestListener</listener-class>
	</listener>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.action</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- other Servlet 2014-04-02 -->
	<servlet>
		<servlet-name>StationDynamicInfo</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.other.StationDynamicInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StationDynamicInfo</servlet-name>
		<url-pattern>/stationDynamicInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StationYieldInfo</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.other.StationYieldInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StationYieldInfo</servlet-name>
		<url-pattern>/stationYieldInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StationCO2AvoidedInfo</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.other.StationCO2AvoidedInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StationCO2AvoidedInfo</servlet-name>
		<url-pattern>/stationCO2AvoidedInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StationEventInfo</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.other.StationEventInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StationEventInfo</servlet-name>
		<url-pattern>/stationEventInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StationPowerInfo</servlet-name>
		<servlet-class>com.jstrd.asdc.servlet.other.StationPowerInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StationPowerInfo</servlet-name>
		<url-pattern>/stationPowerInfo</url-pattern>
	</servlet-mapping>
</web-app>
